<div class="p-5 pt-5 bg-dark text-white">
  <h2 id=" page-heading" data-cy="PeliculaHeading">
    <span jhiTranslate="cineApp.pelicula.home.title">Peliculas</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="cineApp.pelicula.home.refreshListLabel">Refresh List</span>
      </button>

      <button class="btn btn-primary ms-2" (click)="actualizarCartelera()">
        <fa-icon icon="refresh"></fa-icon>
        <span>Actualizar Cartelera APi</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="peliculas?.length === 0">
    <span jhiTranslate="cineApp.pelicula.home.notFound">No peliculas found</span>
  </div>

  <div class="table-responsive m-3" id=" entities" *ngIf="peliculas && peliculas.length > 0">
    <table class="table table-dark table-striped mb-5 mt-4" aria-describedby=" page-heading">
      <thead style="vertical-align: middle">
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id">
            <span jhiTranslate="global.field.id">ID</span>
            <span>
              <fa-icon icon="sort"></fa-icon>
            </span>
          </th>
          <th scope="col" jhiSortBy="nombre">
            <span jhiTranslate="cineApp.pelicula.nombre">Nombre</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="descripcion">
            <span jhiTranslate="cineApp.pelicula.descripcion">Descripcion</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="duracion">
            <span jhiTranslate="cineApp.pelicula.duracion">Duracion</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="enCartelera">
            <span> Cartelera</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="url_img">
            <span>URL</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="url_img">
            <span>ID Api</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody style="vertical-align: middle">
        <tr *ngFor="let pelicula of peliculas; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/pelicula', pelicula.id, 'view']">{{ pelicula.id }}</a>
          </td>
          <td>{{ pelicula.nombre }}</td>
          <td>
            <span class="fuenteDesc">{{ pelicula.descripcion }}</span>
          </td>
          <td>{{ pelicula.duracion }}</td>
          <td>{{ pelicula.enCartelera }}</td>
          <td>{{ pelicula.url }}</td>
          <td>{{ pelicula.idApi }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/pelicula', pelicula.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/pelicula', pelicula.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(pelicula)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="peliculas && peliculas.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
