<div class="mt-2">
  <!-- <div class=" cartelera p-2">
    <img class="mt-3 img-fluid" src=" ../../content/images/gif-cinexsclusivo.gif.pagespeed.ce.t7SY3TOASY.gif" alt="" />
  </div> -->
  <ngb-carousel class="borde">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img class="img-fluid" src="./../../../../content/images/banner_1920x600_DrStange-1.jpg" alt="Random first slide" />
      </div>
      <div class="carousel-caption"></div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img class="img-fluid" src="./../../../../content/images/banner_1920x600_Dog.jpg" alt="Random first slide" />
      </div>
      <div class="carousel-caption"></div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img class="img-fluid" src="./../../../../content/images/banner_1920x600_Jurrasic.jpg" alt="Random first slide" />
      </div>
      <div class="carousel-caption">
        <div class="container">
          <div class="data">
            <h4>PREVENTA</h4>

            <h2>Jurassic World: Dominio</h2>

            <p class="mb-3">EXPERIENCIA IMAX Y ONE</p>

            <a href="" class="button">COMPRA TUS ENTRADAS</a>
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img
          class="img-fluid"
          src="./../../../../content/images/banner_1920x600_AnimalesFantasticos_normal.jpg"
          alt="
          Random first slide"
        />
      </div>
      <div class="carousel-caption"></div>
    </ng-template>
    <!-- 
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img class="img-fluid" src="./../../../../content/images/tgm_preventa_full.jpg" alt="
              Random first slide" />

      </div>
      <div class="carousel-caption"></div>
    </ng-template>

    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img class="img-fluid" src="./../../../../content/images/sonic_full_cartelera.jpg" alt="
              Random first slide" />

      </div>
      <div class="carousel-caption"></div>
    </ng-template> -->
  </ngb-carousel>
</div>
<h1 class="text-white text-center mt-3">Cartelera</h1>
