<div class="d-flex justify-content-center p-5 pt-5 bg-dark text-white">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-pelicula-heading" data-cy="PeliculaCreateUpdateHeading" jhiTranslate="cineApp.pelicula.home.createOrEditLabel">
        Create or edit a Pelicula
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cineApp.pelicula.nombre" for="field_nombre">Nombre</label>
          <input type="text" class="form-control" name="nombre" id="field_nombre" data-cy="nombre" formControlName="nombre" />
          <div *ngIf="editForm.get('nombre')!.invalid && (editForm.get('nombre')!.dirty || editForm.get('nombre')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('nombre')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label">URL</label>
          <input type="text" class="form-control" name="url_img" data-cy="url_img" formControlName="url_img" />
          <div *ngIf="editForm.get('url_img')!.invalid && (editForm.get('url_img')!.dirty || editForm.get('url_img')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('url_img')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label">ID ApiL</label>
          <input type="text" class="form-control" name="idApi" data-cy="idApi" formControlName="idApi" />
          <div *ngIf="editForm.get('idApi')!.invalid && (editForm.get('idApi')!.dirty || editForm.get('idApi')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('idApi')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cineApp.pelicula.descripcion" for="field_descripcion">Descripcion</label>
          <input
            type="text"
            class="form-control"
            name="descripcion"
            id="field_descripcion"
            data-cy="descripcion"
            formControlName="descripcion"
          />
          <div *ngIf="editForm.get('descripcion')!.invalid && (editForm.get('descripcion')!.dirty || editForm.get('descripcion')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('descripcion')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cineApp.pelicula.duracion" for="field_duracion">Duracion</label>
          <input type="number" class="form-control" name="duracion" id="field_duracion" data-cy="duracion" formControlName="duracion" />
          <div *ngIf="editForm.get('duracion')!.invalid && (editForm.get('duracion')!.dirty || editForm.get('duracion')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('duracion')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('duracion')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cineApp.pelicula.enCartelera" for="field_enCartelera">En Cartelera</label>
          <input
            type="checkbox"
            class="form-check"
            name="enCartelera"
            id="field_enCartelera"
            data-cy="enCartelera"
            formControlName="enCartelera"
          />
          <div *ngIf="editForm.get('enCartelera')!.invalid && (editForm.get('enCartelera')!.dirty || editForm.get('enCartelera')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('enCartelera')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
