.auto-style1 {
  width: 91%;
  margin: 0 auto;
}

.auto-style2 {
  text-align: center;
  margin-bottom: 0.2em;
}

.icon-reservado {
  color: grey;
}

.icon {
  color: #81c9fa;
}

.icon-seleccionado {
  color: #5ccb5f;
}

.pantalla-letra {
  text-align: center;
}

.pantalla {
  width: 70%;
  height: 2em;
  margin: 0 auto;
  margin-top: 2.2em;
  background-color: black;
  color: black;
  border-radius: 0px 0px 22px 22px;
}

.letra {
  margin-left: 1em;

  margin-right: 1em;
}
