<div class="d-flex justify-content-center p-5 pt-5 bg-dark text-white">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-pedido-heading" data-cy="PedidoCreateUpdateHeading" jhiTranslate="cineApp.pedido.home.createOrEditLabel">
        Create or edit a Pedido
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cineApp.pedido.cantidad" for="field_cantidad">Cantidad</label>
          <input type="number" class="form-control" name="cantidad" id="field_cantidad" data-cy="cantidad" formControlName="cantidad" />
          <div *ngIf="editForm.get('cantidad')!.invalid && (editForm.get('cantidad')!.dirty || editForm.get('cantidad')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('cantidad')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('cantidad')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cineApp.pedido.compra" for="field_compra">Compra</label>
          <select class="form-control" id="field_compra" data-cy="compra" name="compra" formControlName="compra">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="compraOption.id === editForm.get('compra')!.value?.id ? editForm.get('compra')!.value : compraOption"
              *ngFor="let compraOption of comprasSharedCollection; trackBy: trackCompraById"
            >
              {{ compraOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cineApp.pedido.producto" for="field_producto">Producto</label>
          <select class="form-control" id="field_producto" data-cy="producto" name="producto" formControlName="producto">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="productoOption.id === editForm.get('producto')!.value?.id ? editForm.get('producto')!.value : productoOption"
              *ngFor="let productoOption of productosSharedCollection; trackBy: trackProductoById"
            >
              {{ productoOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
