<div class="d-flex justify-content-center p-5 text-white pt-5 bg-dark">
  <div class="col-8">
    <div *ngIf="pedido">
      <h2 data-cy="pedidoDetailsHeading"><span jhiTranslate="cineApp.pedido.detail.title">Pedido</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ pedido.id }}</span>
        </dd>
        <dt><span jhiTranslate="cineApp.pedido.cantidad">Cantidad</span></dt>
        <dd>
          <span>{{ pedido.cantidad }}</span>
        </dd>
        <dt><span jhiTranslate="cineApp.pedido.compra">Compra</span></dt>
        <dd>
          <div *ngIf="pedido.compra">
            <a [routerLink]="['/compra', pedido.compra?.id, 'view']">{{ pedido.compra?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="cineApp.pedido.producto">Producto</span></dt>
        <dd>
          <div *ngIf="pedido.producto">
            <a [routerLink]="['/producto', pedido.producto?.id, 'view']">{{ pedido.producto?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/pedido', pedido.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
