.width {
  width: 1000000000%;
}

.boton {
  width: 14.5%;
}

.dropdw {
  font: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
}

.scroll {
  height: 10em;
  overflow: auto;
}
