<div class="p-5 pt-5 bg-dark text-white">
  <h2 id="page-heading" data-cy="AforoHeading">
    <span jhiTranslate="cineApp.aforo.home.title">Aforos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="cineApp.aforo.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-aforo"
        [routerLink]="['/aforo/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="cineApp.aforo.home.createLabel"> Create a new Aforo </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="aforos?.length === 0">
    <span jhiTranslate="cineApp.aforo.home.notFound">No aforos found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="aforos && aforos.length > 0">
    <table class="table table-dark table-striped mb-5" style="vertical-align: middle" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id">
            <span jhiTranslate="global.field.id">ID</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="reservada">
            <span jhiTranslate="cineApp.aforo.reservada">Reservada</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="proyeccion.id">
            <span jhiTranslate="cineApp.aforo.proyeccion">Proyeccion</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="compra.id">
            <span jhiTranslate="cineApp.aforo.compra">Compra</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="butaca.id">
            <span jhiTranslate="cineApp.aforo.butaca">Butaca</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let aforo of aforos; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/aforo', aforo.id, 'view']">{{ aforo.id }}</a>
          </td>
          <td>{{ aforo.reservada }}</td>
          <td>
            <div *ngIf="aforo.proyeccion">
              <a [routerLink]="['/proyeccion', aforo.proyeccion?.id, 'view']">{{ aforo.proyeccion?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="aforo.compra">
              <a [routerLink]="['/compra', aforo.compra?.id, 'view']">{{ aforo.compra?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="aforo.butaca">
              <a [routerLink]="['/butaca', aforo.butaca?.id, 'view']">{{ aforo.butaca?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/aforo', aforo.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/aforo', aforo.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(aforo)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="aforos && aforos.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
